.footerBanner
  .appBanner
    .appBanner__banner
      .appBanner__banner__title だれでもかんたん、人生を変えるフリマアプリ      
      .appBanner__banner__text 今すぐ登録して使ってみよう！
      
.footer-part
  %ul.footer-part__contents
    %li.footer-part__contents__content
      %h2 FURIMAについて
      %p.campany 会社概要(運営会社)
      %p.privacy プライバシーポリシー
      %p.kiyaku FURIMA利用規約
    %li.footer-part__contents__content
      %h2 FURIMAを見る
      = link_to categories_path, class:"category" do
        カテゴリー一覧
      %p.brand ブランド一覧
    %li.footer-part__contents__content
      %h2 ヘルプ＆ガイド
      %p.guide FURIMAガイド
      %p.guideline FURIMAロゴ利用ガイドライン
      %p.osirase お知らせ
  = image_tag "material/logo/logo-white.png", class:"footer-part__logo"
  .footer-part__logotitle © FURIMA